{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href={% static 'profile_app/css/profile.css' %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="background">
            <div class="first-frame-background">
                <div class="frame1">
                    <div class="profile-picture">
                        <img src="{% static 'dashboard_app/images/profile.png'%}">
                    </div>
                    {% if profile %}
                    <div class="profile-name">{{profile.first_name}} {{profile.last_name}}</div>
                    <div class="profile-email">{{profile.email}}</div>
                    {% else %}
                    
                    <div class="profile-name">click profile to update</div>
                    <div class="profile-email"></div>
                    {% endif %}
                </div>
                <div class="frame2">
                    <div class="dashboard">
                        <a href="{% url 'dashboard' %}">
                            <img src="{% static 'profile_app/images/home.png' %}">
                            <p>Dashboard</p>
                        </a>
                    </div>
            <!----          <div class="all-courses">
                        <img src="{% static 'dashboard_app/images/all-course.png' %}">
                        <p>All courses</p>
                    </div>
                    <div class="chat">
                        <img src="{% static 'dashboard_app/images/chat.png' %}">
                        <p>Chat</p>
                    </div>
               
                    <div class="settings">
                        <a href="{% url 'settings' %}">
                            <img src="{% static 'dashboard_app/images/settings.png' %}">
                            <p>Settings</p>
                        </a>
                    </div>
                 -->
                    <div class="profile">
                        <img src="{% static 'profile_app/images/user-circle.png' %}">
                        <p>Profile</p>
                    </div>
                <!--- 
                    <div class="logout">
                        <a href="{% url 'logout' %}">
                            <img src="{% static 'dashboard_app/images/logout.png' %}">
                            <p>Logout</p>
                        </a>
                    </div>
                    -->
                </div>
            </div>
            <div class="second-frame-background">
                <div class="second-frame1-background">
                    <div class="second-frame1">
                        <p>Search a course</p>
                    </div>
                    <div class="second-frame2">
                        <div class="second-frame2a">
                            <img src="{% static 'profile_app/images/heart.png' %}">
                        </div>
                        <div class="second-frame2b">
                            <img src="{% static 'profile_app/images/shopping-cart.png' %}">
                        </div>
                        <div class="second-frame2c">
                            <img src="{% static 'profile_app/images/bell.png' %}">
                        </div>
                    </div>
                </div>
                <div class="third-frame-background">
                    <form method="post">
                        {% csrf_token %}
                        <div class="group1">
                            <div class="first-name">
                                <label for="{{ form.first_name.id_for_label }}"><span>First Name</span></label>
                                {{ form.first_name }}
                            </div>
                            <div class="last-name">
                                <label for="{{ form.last_name.id_for_label }}"><span>Last Name</span></label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="group2">
                            <div class="email">
                                <label for="{{ form.email.id_for_label }}"><span>Email</span></label>
                                {{ form.email }}
                            </div>
                            <div class="phone-number">
                                <label for="{{ form.phone_number.id_for_label }}"><span>Phone Number</span></label>
                                {{ form.phone_number }}
                            </div>
                        </div>
                         <div class="group3">
                            <div class="gender">
                                <label for="{{ form.gender.id_for_label }}"><span>Gender</span></label>
                                {{ form.gender }}
                            </div>
                            <div class="country">
                                <label for="{{ form.country.id_for_label }}"><span>Country Of Residence</span></label>
                                {{ form.country }}
                            </div>
                        </div>
                         <div class="group4">
                            <div class="linkedin">
                                <label for="{{ form.linkedin_profiles.id_for_label }}"><span>Linkedin Link</span></label>
                                {{ form.linkedin_profiles }}
                            </div>
                            <div class="state">
                                <label for="{{ form.state.id_for_label }}"><span>State Of Residence</span></label>
                                {{ form.state }}
                            </div>
                        </div>
                        <button type="submit"><span>Save</span></button>
                    </form>   
                </div>
            <div>
        <div>
    </body>
</html>
